.yellowgreen {
    background-color: yellowgreen;
}
.tomato{
    background-color: tomato;
}
.royalblue{
    background-color: royalblue;
}
.pink{
    background-color: pink;
}
.red{
    background-color: red;
}
.salmon{
    background-color: salmon;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.gold{
    background-color: gold;
}
.indigo{
    background-color: indigo;
}