body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: chartreuse;
    padding: 15px;
    color: white;
}
.container{
    width: 70%;
    margin: 0 auto;
    border: solid 1px black;
}
.block {
    padding: 15px;
    border: solid 1px black;
}
.yellowgreen {
    background-color: yellowgreen;
}
.tomato{
    background-color: tomato;
}
.royalblue{
    background-color: royalblue;
}
.pink{
    background-color: pink;
}
.red{
    background-color: red;
}
.salmon{
    background-color: salmon;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.gold{
    background-color: gold;
}
.indigo{
    background-color: indigo;
}